* {
    font-family: Arial;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  body {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background: white;
  }
/* CSS Menu*/
.hovermenu {
    padding-top: 15px;
  }
  nav {
    background-color: hsl(144, 69%, 35%);
  }
  ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  ul.menu > li {
    min-width: 150px;
    text-align: center;
  }
  ul.menu > li > a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    color: black;
  }
  ul.menu > li:last-child {
    margin-left: auto;
  }
  ul.menu > li > a.RP {
    border-bottom: 5px inset black;
  }
  ul.menu > li > a:hover {
    background-color: black;
    color: white;
    border-bottom: 5px inset black;
  }
  #menu-phone {
    display: none;
  }
              /*media*/
      @media screen and (max-width: 900px) {
        ul.menu > li {
          width: 100%;
          text-align: left;
        }
        ul.menu > li > a:first-child {
          border-bottom: none;
        }
        ul.menu > li > a:hover{
          border-bottom: none;
        }
        #submenu-phone {
          display: none;
        }
        #menu-phone {
          display: block;
          background-color: black;
          padding: 10px 15px;
        }
        div.myMenu > a{
        color: white;
        }
      }
      @media screen and (max-width: 400px) {
        ul.menu > li > a {
          font-size: 13px;
        }
      }

  /* Css chung */
  h6 {
    font-size: 85%;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  h2 {
    padding: 5px;
    font-size: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  p, button {
    font-size: 80%;
  }
  time {
    font-size: 77%;
  }  
  a {
      text-decoration: none;
      color: black;
  }
  a:hover {
      color: green;
  }
  /*CSS date*/
.td-post-date {
    color: #aaa;
    display: inline-block;
    position: relative;
    top: 1px;
    font-size: 11px;
    float: none;
  }
  /* CSS icon star*/
.td-module-meta-info {
    font-size: 5px;
    margin-bottom: 7px;
    line-height: 1;
    min-height: 17px;
  }
  .entry-review-stars {
    display: inline-block;
    position: relative;
    top: 1px;
  }
  .entry-review-stars > img {
    width: 20px;
  }
/* CSS muc 2*/
.col70 {
  width: 70%;
  padding: 20px;
}
.col30 {
  width: 30%;
}
section.muc2 {
  display: flex;
}
/* CSS tieu de */
h1.entry-title {
  font-size: 30px;
}
a.entry-crumb {
  color: rgb(170, 169, 169);
  font-size: 12px;
}
a.entry-crumb:hover {
  color: green;
}
div.td-category-description > p > em {
  padding: 2px;
  font-size: 17px;
  color: grey;
}
/* CSS subject */

h1.subject {
  text-align: center;
  font-size: 16px;
  color: black;
  background-color: hsl(144, 69%, 35%);
  padding: 5px;
  margin-bottom: 10px;
}
h1.cap3 {
  width: 100px;
}
  /* CSS col70 */
div.phim {
    display: flex;
    width: 100%;
    padding: 10px;
}
div.poster > a > img {
    float: left;
    width: 220px;
    height: 150px;
    margin: 0 10px 10px 0;
    position: relative;
}
div.poster > a > img:hover {
  transition: transform ease-in-out 0.5s;
  transform: scale(1.1);
}
.text {
    width: 100%;
}
.text > div {
  padding: 5px;
}
div.text > em {
    margin-block-end: 0px;
    font-size: 15px;
    color: gray;
}
  /* CSS cot 2*/
 .listBox {
    height: 480px;
  }
  #listBox-1 {
    height: 240px;
    display: none;
  }
  #listBox-2 {
    height: 245px;
    display: none;
  }
  div.bookmart {
    display: block;
    flex-wrap: wrap;
  }
  div.capA > div {
    padding: 2px;
    width: 100%;
    height: 80px;
  }
  a.itemA {
    width: 160px;
    height: 60px;
  }
  img.itemB {
    padding-right: 3px;
    width: 100px;
    height: 70px;
    float: left;
  }
  img.itemB:hover {
    transition: transform ease-in-out 0.5s;
    transform: scale(1.1);
  }
  .xem-them {
    text-align: center;
    font-size: 12px;
    opacity: 0.60; 
  }
  #button-xem-them {
    display: block;
  }
  #button-xem-them-2 {
    display: none;
  }
  #button-xem-them-3 {
    display: none;
  }
  /*CSS quang cao*/
.quangcao {
    padding: 20px;
    position: relative;
    text-align: center;
  }
  div.backgroud-quangCao  {
    margin: auto;
    height: 80%;
    width: 80%;
  }
  .number2 > div > a > img {
    height: 100%;
    width: 100%;
  }
  .number3 > div > a > img {
    height: 100%;
    width: 100%;
  }
   .b-button-QC {
    font-size: x-small;
    width: 80%;
    text-align: right;
    margin: auto;
    opacity: 0.6;
  }
  .fa, .fas {
    font-size: xx-small;
  }
  
  #hideIcon {
    padding: 40px;
    background: lightgrey;
    display: none;
  }
  #hideIcon-2 {
    padding: 40px;
    background: lightgrey;
    display: none;
  }
  
  /*CSS video*/
  .video {
    padding: 20px;
    text-align: center;
  }
  .video > iframe {
    width: 300px;
    height: 230px;
  }
  @media screen and (max-width: 360px){
    .video > iframe {
      width: 100%;
      height: 70%;
    }
  }
  /*CSS qua trang*/
 .next-page {
    margin: 30px 0;
    font-size: 12px;
    display: inline-block;
    width: 100%;  
  }
  .next-page .current {
    background-color: green;
    color: #fff;
    border-color: green;
  }
  .next-page .extend, .next-page .pages {
    border: none;
  }
  .next-page .pages {
    float: right;
  }
  .next-page a, .next-page span {
    padding: 5px 11px;
    border: 1px solid #e3e3e3;
    display: inline-block;
    margin: 0 8px 8px 0;
    min-width: 33px;
    text-align: center;
    color: #666;
    line-height: 21px;
}
/*footer*/
   footer {
    background-color: black;
    padding: 15px;
    color: black;
  }
  footer > h3 {
    text-align: center;
    color:hsl(144, 69%, 35%); 
  }
  .colfooter {
    background: hsl(144, 69%, 35%);
  }
  .coll {
    display: inline-flex;
  }
  label {
    text-align: left;
  }
  .col20 {
    width: 20%;
    text-align: center;
    margin: auto;
  }
  .col40 {
    width: 40%;
    padding: 10px;
  }
  .col40 > h5 {
    margin: 30px;
    text-align: center;
  }
  form {
    padding-right: 40px;
    text-align: center;
  }
  img.iconFooter {
    width: 150px;
    height: 150px;
  }
  .iconLienHe {
    text-align: center;
  }
  @media screen and (max-width: 790px) {
    .col20 {
      display: none;
    }
    .col40{
      width: 50%;
    }
    form {
     text-align: center;
    }
    
    img.iconFooter {
      display: none;
    }
    .contact1 {
      font-size: 70%;
    }
    .contact1 > h5 {
      font-size: 95%;
      margin: 4px;
    }
     label, input, textarea {
      width: 150px;
      font-size: 60%;
    }
    input.submit-lienhe {
      width: 30px;
      text-align: center;
    }
    div.col50 > strong {
      font-size: 80%;
    }
  }
  @media screen and (max-width: 400px) {
    .coll {
      display: block;
    }
    .col40 {
      width: 100%;
    }
    input, textarea {
      width: 130px;
    }
    div.info > h5 {
      font-size: 10px;
    }
    .item3 > a {
      font-size: 14px;
    }
    div.info > a {
      font-size: 14px;
    }
    .entry-review-stars > img {
      width: 13px;
    }
    img.item3 {
      width: 100px;
      height: 76px;
    }
  }
  
  .iconLienHe > a > img {
    width: 20px;
  }

  /* MEDIA */
  @media screen and (max-width: 815px)
  {
    section.muc2 {
      display: block;
    }
    .col70 {
      width: 100%;
    }
    .col30 {
      width: 100%;
    }
    div.number3 {
      display: none;
    }
    h2 {
      font-size: 20px;
    }
    div.text > em {
      font-size: 13px;
    }
  }
  @media screen and (max-width: 315px) {
    p, button {
      font-size: 8px;
    }
    time {
      font-size: 5px;
    }
    div.quangcao {
      display: none;
    }
    input, textarea {
      width: 90px !important;
    }
  }
  @media screen and (max-width: 550px) {
    span.pages, a.last, span.extend {
      display: none;
    }
    div.next-page {
      text-align: center;
    }
    .b-button-QC {
      width: 170px;
    }
    div.backgroud-quangCao {
      width: 170px;
      height: 170px;
      text-align: center;
    }
    #hideIcon {
      padding: 20px;
    }
    .number2 > div > a > img {
      width: 170px;
      height: 170px;
    }
    i.fas.fa-spinner.fa-pulse {
      font-size: 100px !important;
    }
    /*Cot 1*/
    div.poster > a > img {
      width: 200px;
      height: 130px;
    }
    h2 {
      font-size: 15px;
    }
    div.text > em {
      font-size: 10px;
    }
    .entry-review-stars > img {
      width: 10px;
    }
  }
  /*media cot 1*/
  @media screen and (max-width: 430px) {
    body {
      width: 98%;
    }
    div.phim {
      display: block;
      text-align: center;
    }
    div.text {
      text-align: left;
    }
    div.poster > a > img {
      width: 150px;
      height: 90px;
      float: none;
    }
    h2 {
      font-size: 12px;
    }
    div.text > em {
      font-size: 10px;
    }
    .entry-review-stars > img {
      width: 8px;
    }
    /*Tieu de h1*/
    h1.entry-title {
      font-size: 25px;
    }
    div.td-category-description > p > em {
      font-size: 15px;
    }
  }
  /*Logo chinh*/
  @media screen and (max-width: 270px) {
    img.logo {
      width: 150px;
      height: 100px;
    }
    header {
      text-align: center;
    }
  }
    /*Media cot 2*/
    @media screen and (max-width: 220px) {
      img.itemB {
        width: 80px;
        height: 60px;
      }
      .boxItem1 > img {
        width: 80px;
        height: 60px;
      }
      .boxIteam1 {
        padding: 2px;
      }
      div.box1 {
        height: 80px;
      }
      div.video {
        display: none;
      }
      h1.subject {
        font-size: 7px;
        width: 100px;
      }
    }
    @media screen and (max-width: 150px) {
      div.box1 {
        height: 130px;
      }
      div.listBox {
        height: 895px;  
      }
      #listBox-1, #listBox-2  {
        height: 440px;
      }
      div.capA > div {
        height: 150px;
        text-align: center;
      }
      img.itemB {
        float: none;
        padding: 2px;
      }
      input, textarea {
        width: 50px !important;
      }
      /*Cot 2*/
      div.poster > a > img {
        width: 80px !important;
        height: 50px !important;
      }
      /*MENU*/
      ul.menu > li > a {
        font-size: 10px;
      }
    }
